@model Biblioteca.Models.Genero

@{
    ViewData["Title"] = "Editar Genero";
}

<h1>Editar Genero</h1>

<h1>Genero</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GeneroID" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstiloNarrativo" class="control-label"></label>
                <input asp-for="EstiloNarrativo" class="form-control" />
                <span asp-validation-for="EstiloNarrativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicoAlvo" class="control-label"></label>
                <input asp-for="PublicoAlvo" class="form-control" />
                <span asp-validation-for="PublicoAlvo" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top: 10px">
                <input type="submit" value="Inserir" class="btn btn-primary btn-sm" />
                <a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>