@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center mt-6">
    <div class="text-center">
        <h1 class="display-4">Bem-Vindo ao Sistema Biblioteca</h1>
    </div>
</div>
